body {
	background-color: rgb(255, 192, 203);
	color: rgb(30, 30, 30);
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: rgb(128, 128, 128);
	font-family: Roboto;
	font-weight: 500;
	letter-spacing: 5px;
	font-size:35px;
    text-transform: uppercase;
}

h2 {
  color: rgb(100, 100, 139);
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 5px;
}
a{
	text-decoration: none;
	color: hotpink;
}
a:hover {
	color:blue;
}
/* Custom design with class (99% of design) */


.main-container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
	.main-container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.main-container {
		width: 400px;
	}
}

.card-design-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin:20px 0px;
	text-align:center;
}

.img-circle {
	border-radius: 50%;
}

.btn-pink {
	background-color: hotpink;
	color:white;
	Padding:15px 20px;
	border-radius: 4px;
}

.btn-pink:hover {
color:white;
background-color: rgb(255, 192, 203);
}

.list-inline {
	list-style:none;
	padding-left:0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline li:hover {
	color:darkblue;
}

.list-inline i {
	font-size: 50px;
	Color: hotpink;
}

.list-inline i:hover{
	font-size: 50px;
	Color: black;
}
/* Design adjustments using id (1% design remaining) */
#main-introduction p {
  margin-bottom: 50px;
}
